/*
 * Challenge: CSS Grid.
 */
.tube-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.tube-item {
  flex: 1 0 auto;
}

.tube-title {
  /* Challenge: Prefer rems. */
  font-size: 24px;
}
